<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="content">
<head>
    <title>main</title>
<body>

<!-- Main -->
<main role="main" class="ml-sm-auto px-md-4" style="height: auto; min-height: 1500px; margin-bottom: 70px; display: flex; flex-direction: column;">
    <div class="main-container border rounded p-3 mt-2" style="flex: 1;"> <!-- 메인컨텐츠 주변 보더라인 잡기-->
    </div>
</main>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // URL에서 쿼리 파라미터로 전달된 토큰을 추출
        function getTokenFromUrl() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('token');
        }

        // 추출된 토큰을 localStorage에 저장
        const token = getTokenFromUrl();
        if (token) {
            localStorage.setItem('jwtToken', token);
            console.log('JWT saved to localStorage');
            location.href = '/hello';
            // 필요한 경우 여기에서 추가 로직 실행 (예: 사용자 대시보드로 리다이렉션)
        } else {
            console.log('No JWT found in URL');
        }
    });
</script>
</html>