<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="headerFragment">

<head>
    <script th:src="@{/js/app.js}" defer></script>
</head>

<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between pt-3">
        <div class = "logo ml-3">
            <a class="logo" th:href="@{/main/}"><img class="logo" th:src="@{/images/logo.png}" alt="Logo"></a>
        </div>

        <div><h1>STAGE ALARM</h1></div>

        <div>
            <!-- AJAX로 동적 처리할 드롭다운 메뉴 -->
            <div class="dropdown" >
                <img src="/images/user.png" alt="Login" width="30px" height="30px" id="loginDropdownToggle">
                <div id="dropdownContent" class="dropdownContent header-sub-menu" style="display: none;">
                    <!-- 메뉴 아이템은 AJAX 요청을 통해 동적으로 삽입됩니다 -->
                </div>
            </div>
        </div>
    </nav>
</div>


<script>
    $(document).ready(function() {
        $('#loginDropdownToggle').click(function() {
            checkAuthenticationStatus();
        });

        function checkAuthenticationStatus() {
            // 토큰 가져오기
            let actualToken = null;
            if(localStorage.getItem("jwtToken")){
                const jwtTokenString = localStorage.getItem("jwtToken"); // localStorage 에서 문자열 형태로 토큰 가져오기
                const jwtTokenObject = JSON.parse(jwtTokenString); // 문자열을 객체로 변환
                actualToken = jwtTokenObject.token; // "token" 키에 해당하는 값(실제 JWT 토큰) 접근
            }

            $.ajax({
                url: '/user/auth/status',

                type: 'GET',
                beforeSend: function(xhr) {
                    // actualToken 이 존재할 때만 Authorization 헤더 설정
                    if (actualToken) {
                        xhr.setRequestHeader("Authorization", "Bearer " + actualToken);
                    }
                },
                success: function(response) {
                    let menuHtml = '';
                    if (response.isAuthenticated) {
                        menuHtml = '<a href="/userInfo">mypage</a><a href="/user/logout">logout</a>';
                    } else {
                        menuHtml = '<a href="/user/login">login</a>';
                    }
                    $('#dropdownContent').html(menuHtml).toggle();
                },
                error: function(error) {
                    console.log('Error fetching user authentication status:', error);
                }
            });
        }
    });
</script>

</html>