<html xmlns:th="http://www.thymeleaf.org" th:fragment="sidebarFragment">

<nav>
    <div style="padding-top: 20px;">
        <ul class="nav flex-column">
            <li class="nav-item" th:onclick="|toggleAdminSubMenu();|">
                <a class="nav-link">Shows</a>
                <div id="adminShowSubMenu" style="display: none;">
                    <ul class="nav flex-column ml-3">
                        <li class="nav-item">
                            <a class="nav-link sub-menu" href="/show">공연</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu" href="/subscribe">구독</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu" href="/item/all">굿즈</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" th:onclick="|toggleAdminUploadMenu();|">
                <a class="nav-link">New Upload</a>
                <div id="adminUploadSubMenu" style="display: none;">
                    <ul class="nav flex-column ml-3">
                        <li class="nav-item">
                            <a class="nav-link sub-menu" href="/shows/showInfo">ShowInfo Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu" href="/artists">Artist Upload</a>
                        </li>
                    </ul>
                </div>
            </li>
<!--            <li class="nav-item">
                <a class="nav-link" href="#!">Manage Board</a>
            </li>-->
        </ul>
    </div>
</nav>

