<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="content">
<head>
  <title>All Items for Sale</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<main role="main" class="ml-sm-auto px-md-4" style="height: auto; min-height: 1500px; margin-bottom: 70px; display: flex; flex-direction: column;">
  <div class="main-container border rounded p-3 mt-2" style="flex: 1;">
    <div id="item-list" class="container mt-5">
      <!-- 상품 목록은 여기에 동적으로 로드됩니다 -->
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    $.ajax({
      url: "/items",
      type: "GET",
      success: function(data) {
        var $itemList = $('#item-list');
        $.each(data, function(index, item) {
          var itemCard =
                  '<div class="col-md-4">' +
                  '<div class="card">' +
                  '<img src="' + item.itemImg + '" class="card-img-top p-3" alt="Item Image">' +
                  '<div class="card-body">' +
                  '<h5 class="card-title">' + item.name + '</h5>' +
                  '<p class="card-text">공연 이름: ' + item.showName + '</p>' +
                  '<p class="card-text">가격: ' + item.price + '</p>' +
                  '<p class="card-text">재고: ' + item.amount + '</p>' +
                  '<a href="/item?id=' + item.id + '" class="btn btn-primary">사러가기</a>' +
                  '</div>' +
                  '</div>' +
                  '</div>';

          $itemList.append(itemCard);
        });
      },
      error: function (xhr, status, error) {
        console.error("AJAX 요청 실패:", status, error);
      }
    });
  });
</script>
</body>
</html>
