<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="content">
<head>
  <title>Item Details</title>
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>
<body>
<!-- Main -->
<main role="main" class="ml-sm-auto px-md-4" style="height: auto; min-height: 1500px; margin-bottom: 70px; display: flex; flex-direction: column;">
  <div class="main-container border rounded p-3 mt-2" style="flex: 1;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 p-3">
          <div id="item-wrapper">
            <img class="mb-3 img-fluid" id="item-image" style="max-width:400px; max-height: 500px;">
            <h1 class="mb-3">이름: <span id="item-name"></span></h1>
            <p class="mb-3">가격: ₩<span id="item-price"></span></p>
            <p class="mb-3">설명: <span id="item-content"></span></p>
            <p class="mb-3">재고: <span id="item-stock"></span></p>
            <p class="mb-3">공연 이름: <span id="item-showName"></span></p>
            <!-- Amount Input -->
            <div class="mb-3">
              <label for="item-amount" class="form-label">Amount:</label>
              <input type="number" id="item-amount" class="form-control" value="0" min="0">
            </div>
            <p>Total Price: ₩<span id="total-price"></span></p>
            <a href="javascript:history.back()" class="btn btn-secondary">목록으로</a>
          </div>
        </div>
          <div class="col-lg-6 p-3">
            <div id="payment-wrapper">
              <div id="payment-method"></div>
              <div id="agreement"></div>
              <div class="p-3 w-100">
                <button id="payment-request-button" class="btn btn-primary w-100">결제하기</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function() {
    // 쿼리파라미터 추출
    const itemId = new URLSearchParams(window.location.search).get('id');
    const clientKey = 'test_ck_ma60RZblrqNP0PZ5wnXR8wzYWBn1';
    const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS);

    $.get(`/items/${itemId}`, function(body) {
      $('#item-image').attr('src', body.itemImg);
      $('#item-name').text(body.name);
      $('#item-price').text(body.price);
      $('#item-content').text(body.content);
      $('#item-stock').text(body.amount);
      $('#item-showName').text(body.showName)
      $('#item-amount').attr('max', body.amount);
      calculateTotalPrice(); // Initial total price calculation

      paymentWidget.renderPaymentMethods('#payment-method', {
        value: body.price,
        currency: 'KRW',
        country: 'KR'
      }, { variantKey: 'widgetA' });

      paymentWidget.renderAgreement('#agreement', { variantKey: 'AGREEMENT' });
    }).fail(function() {
      location.href = '/';
    });

    // Calculate and display total price
    function calculateTotalPrice() {
      const price = parseFloat($('#item-price').text());
      const amount = parseInt($('#item-amount').val());
      const totalPrice = price * amount;
      $('#total-price').text(totalPrice);
    }

    // Event listener for amount change
    // Event listener for amount change
    $('#item-amount').on('change', function() {
      const stock = parseInt($('#item-stock').text());
      const amount = parseInt($('#item-amount').val());

      if (amount > stock) {
        alert('재고 수량을 초과하는 주문입니다. 수량을 확인해 주세요.');
        $('#item-amount').val(0); // 수량 입력을 1로 리셋
        calculateTotalPrice(); // 총 가격 재계산
        return;
      }

      calculateTotalPrice(); // 수량 변경에 따른 총 가격 재계산
    });

    // 결제 요청 버튼 이벤트
    $('#payment-request-button').click(function() {
      const totalPrice = $('#total-price').text(); // .text()를 사용하여 값을 가져옵니다.
      console.log(totalPrice); // 이제 정확한 숫자 값을 로그해야 합니다.

      paymentWidget.renderPaymentMethods('#payment-method', {
        value: totalPrice,
        currency: 'KRW',
        country: 'KR'
      }, { variantKey: 'widgetA' });

      try {
        paymentWidget.requestPayment({
          orderId: crypto.randomUUID().replaceAll('-', ''),
          orderName: `${itemId}-${$('#item-name').text()}`,
        }).then(async data => {
          $.ajax({
            url: '/toss/confirm-payment',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
              paymentKey: data.paymentKey,
              orderId: data.orderId,
              amount: data.amount
            }),
            success: function(response) {
              console.log(data);
              location.href = "/success";
            },
            error: function (xhr){
              if(xhr.status === 403){
                alert("결제 권한이 없습니다. 취소되었습니다.")
                location.href = "/fail"
              }
            }
          });
        });
      } catch (err) {
        if (err.code === 'USER_CANCEL') {
          alert('사용자 결제 취소');
        } else {
          alert(err);
        }
        location.href = '/fail';
      }
    });
  });
</script>
</body>
</html>
