<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="content">
<head>
    <title>main</title>
    <style>
        .like-btn:hover {
            cursor: pointer;
        }
    </style>
<body>

<!-- Main -->
<main role="main" class="ml-sm-auto px-md-4"
      style="height: auto; min-height: 1500px; margin-bottom: 70px; display: flex; flex-direction: column;">
    <div class="main-container border rounded p-3 mt-2" style="flex: 1;">
        <div class="showInfo"></div>
        <div style="height: 4px; width: 100%" class="bg-dark my-3"></div>
        <div class="border-2 border-dark">
            <form id="commentForm" class="d-flex align-items-center">
                <div class="form-group flex-grow-1">
                     <textarea class="form-control form-control-lg" id="commentContent" rows="3" required
                               placeholder="댓글을 입력하세요..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg align-self-stretch">댓글 작성</button>
            </form>
        </div>
        <div style="height: 2px; width: 100%" class="bg-secondary bg-opacity-25 my-3"></div>
        <div class="comments"></div>
    </div>
</main>

<script>
    $(document).ready(function () {
        var path = window.location.pathname;
        var id = path.split('/').pop();

        // 댓글 추가
        function addComment(comment) {
            const {id, loginUserId, userResponseDto: {userId, nickname}, content} = comment;
            const showButtons = loginUserId === userId;

            const commentHtml = `
            <div class="card mb-3" data-comment-id="${id}">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="update-comment">
                            <p class="card-text comment-user">작성자: ${nickname}</p>
                            <p class="card-text comment-content">${content}</p>
                        </div>
                        <div class="btn-group">
                            ${showButtons ? `
                                <button type="button" class="update btn btn-sm btn-outline-secondary">수정</button>
                                <button type="button" class="delete btn btn-sm btn-outline-secondary">삭제</button>
                            ` : ''}
                        </div>
                    </div>
                </div>
            </div>`;
            $('.comments').prepend(commentHtml);

            // 댓글 개수 업데이트
            // commentCount++;
            // if (commentCount > maxComments) {
            //     $('.comments .card:last-child').remove(); // 가장 오래된 댓글 삭제
            //     commentCount--;
            // }
        }


        // 상세정보 및 댓글 불러오기
        $.ajax({
            url: "/show/" + id,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                const {
                    showInfoResponseDto: showInfo,
                    showCommentsResponseDtos: comments,
                    authorityDto: authority
                } = data;

                const showHtml = `
                    <div class="card mb-3" data-comment-id="${comments.id}">
                        <div class="d-flex">
                            <button class="flex-grow-1 info-update btn btn-light">수정</button>
                            <button class="flex-grow-1 info-delete btn btn-light" style="color: red;">삭제</button>
                        </div>
                        <img src=${showInfo.posterImage ? showInfo.posterImage : 'https://via.placeholder.com/800x500'} class="card-img-top" alt="축제 이미지" style="width:200px; height:250px">
                        <div class="card-body position-relative">
                            <h5 class="card-title">${showInfo.title}</h5>
                            <p class="card-text">날짜: ${showInfo.date}</p>
                            <p class="card-text">위치: ${showInfo.location}</p>
                            <p class="card-text">시작시간: ${showInfo.startTime}</p>
                            <p class="card-text">예매처: ${showInfo.ticketVendor}</p>
                            <p class="position-absolute like-count" style="top: 2%; right: 2%">
                                <img data-show-Info-is-Liked="${showInfo.isLiked}" class="like-btn cursor-pointer" src="${showInfo.isLiked ? '/images/like.png' : '/images/unlike.png'}" alt="좋아요" style="width: 30px; height: 30px">
                                    <span class="total-like">${showInfo.totalLike}</span>
                            </p>
                        </div>
                    </div>`;


                $('.showInfo').append(showHtml);

                // 버튼을 보여줄지 여부를 결정하는 함수
                function toggleButtons() {
                    console.log(authority)
                    if (authority.authority === "ROLE_ADMIN") {
                        $(".info-update").show(); // 수정 버튼 보이기
                        $(".info-delete").show(); // 삭제 버튼 보이기
                    } else {
                        $(".info-update").hide(); // 수정 버튼 숨기기
                        $(".info-delete").hide(); // 삭제 버튼 숨기기
                    }
                }

                // 초기 로딩 시 한번 실행
                toggleButtons();

                comments.forEach(comment => {
                    const {id, loginUserId, userResponseDto: {userId, nickname}, content} = comment;
                    const showButtons = loginUserId === userId;

                    const commentHtml = `
                <div class="card mb-3" data-comment-id="${id}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <p class="card-text comment-user">작성자: ${nickname}</p>
                                <p class="card-text comment-content">${content}</p>
                            </div>
                            <div class="btn-group">
                                ${showButtons ? `
                                    <button type="button" class="update btn btn-sm btn-outline-secondary">수정</button>
                                    <button type="button" class="delete btn btn-sm btn-outline-secondary">삭제</button>
                                ` : ''}
                            </div>
                        </div>
                    </div>
                </div>`;
                    $('.comments').append(commentHtml);
                });
            },
            error: function () {
                console.error("Ajax 요청 실패")
            }
        });

        // update 페이지로 이동시키는 메서드
        function redirectToUpdatePage() {
            window.location.href = '/shows/' + id + '/update';
        }

        $(document).on("click", ".info-update", function () {
            redirectToUpdatePage();
        });


        $(document).on("click", ".info-delete", function () {
            if (confirm("공연정보를 삭제하시겠습니까?")) {
                $.ajax({
                    type: "DELETE",
                    url: "/show/" + id,
                    success: function () {
                        window.location.href = "/shows"
                    },
                    error: function (xhr, status, error) {
                        console.error("공연정보 삭제 실패.", error);
                    }
                });
            }
        });


        // 좋아요 기능, get요청으로 좋아요를 눌렀는지 안눌렀는지 boolean을 반환받아 post or delete요청
        $(document).on("click", ".like-btn", function () {
            const token = localStorage.getItem("jwtToken");
            if (token === null) {
                alert("로그인이 필요합니다.")
                return;
            }

            $.ajax({
                url: "/show/" + id + "/like",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response === false) {
                        $.ajax({
                            url: "/show/" + id + "/like",
                            type: "POST",
                            contentType: 'application/json; charset=utf-8',
                            success: function (response) {
                                $likeCountElement.text(response.likes);
                                $likeBtn.attr('src', '/images/like.png');
                            },
                            error: function (xhr, status, error) {
                                // 요청이 실패했을 때의 처리
                                console.error("AJAX 요청 실패:", status, error);
                            }
                        });
                    } else {
                        $.ajax({
                            url: "/show/" + id + "/like",
                            type: "DELETE",
                            contentType: 'application/json; charset=utf-8',
                            success: function () {
                                const currentLikes = parseInt($likeCountElement.text(), 10);
                                $likeCountElement.text(currentLikes - 1);
                                $likeBtn.attr('src', '/images/unlike.png');
                                data = false;
                            },
                            error: function (xhr, status, error) {
                                // 요청이 실패했을 때의 처리
                                console.error("AJAX 요청 실패:", status, error);
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    // 요청이 실패했을 때의 처리
                    console.error("AJAX 요청 실패:", status, error);
                }
            });

            var $likeCountElement = $(this).closest('.card-body').find('.total-like');
            var $likeBtn = $(this)


        })

        // 댓글 작성
        $("#commentForm").submit(function (event) {
            event.preventDefault();

            var commentContent = $("#commentContent").val();
            var commentData = {content: commentContent};

            const token = localStorage.getItem("jwtToken");
            if (token === null) {
                alert("댓글을 작성하려면 로그인이 필요합니다.");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/show/" + id,
                    contentType: "application/json",
                    data: JSON.stringify(commentData),
                    success: function (response) {
                        $("#commentContent").val('');
                        addComment(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("댓글 전송 중 오류가 발생했습니다.", error);
                    }
                });
            }
        });

        // 댓글 업데이트
        $('.comments').on('click', '.update', function () {
            if ($(this).text() === "저장") {
                var commentId = $(this).closest('.card').data('comment-id');
                const newContent = $(this).closest('.card').find('.updateVal').val()
                update(commentId, newContent);
            } else {
                var inputElement = $('<input>').attr({
                    type: 'text',
                    class: 'form-control w-100 mt-1 updateVal',
                    placeholder: '수정할 내용을 입력해주세요',
                });
                var commentContentElement = $(this).closest('.card').find('.card-body');

                commentContentElement.append(inputElement)

                $(this).text("저장")
            }
        });

        function update(commentId, newContent) {
            $.ajax({
                url: "/comments/" + commentId,
                type: "PATCH",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({content: newContent}),
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    alert("댓글 수정에 실패했습니다.");
                }
            });
        }

        // 댓글 삭제
        $('.comments').on('click', '.delete', function () {
            var commentId = $(this).closest('.card').data('comment-id');
            $.ajax({
                url: "/comments/" + commentId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    alert("댓글 삭제에 실패했습니다.");
                }
            });
        });

    });
</script>
</body>
</html>