<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="content">
<head>
    <title>main</title>
</head>
<body>

<!-- Main -->
<main role="main" class="ml-sm-auto px-md-4"
      style="height: auto; min-height: 1500px; margin-bottom: 70px; display: flex; flex-direction: column;">
    <div class="main-container border rounded p-3 mt-2" style="flex: 1;"> <!-- 메인컨텐츠 주변 보더라인 잡기-->
        <div class="input-group mb-3 ">
            <input type="text" class="form-control title" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default">
            <span class="input-group-text btn btn-primary search" id="inputGroup-sizing-default">검색</span>
        </div>
        <div class="d-flex justify-content-end my-5">
            <button class="btn btn-newest btn-outline-secondary rounded me-1">최신순</button>
            <button class="btn btn-popular btn-outline-secondary rounded">좋아요순</button>
        </div>
        <div id="showList" class="row row-cols-3 g-3 align-items-center justify-content-center text-center">
            <!-- 여기에 아이템을 추가할 것입니다 -->
        </div>

        <nav aria-label="Page navigation example" class="mt-5 d-flex justify-content-center">
            <ul class="pagination">

            </ul>
        </nav>
    </div>
</main>

<script th:inline="javascript">
    $(document).ready(function () {
        // 기본 화면
        fetchData("createdAt", "desc", 0);

        // 제목 검색
        $(".search").click(function () {
            // 입력값 가져오기
            let inputValue = $(".title").val().trim();
            // 입력값이 null 일 때 기본화면
            if (inputValue == "") {
                fetchData("createdAt", "desc", 0);
            } else {
                sendAjaxRequest(inputValue, 0);
            }
        });

        // 제목 검색결과
        function sendAjaxRequest(title, pageNumber) {
            $.ajax({
                url: "/show",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                data: {
                    title: title,
                    size: 9,
                    page: pageNumber,
                    sort: "createdAt",
                    order: "desc"
                },
                success: function (data) {
                    const $showInfo = $('#showList');
                    const $pagination = $('.pagination');
                    // 초기화
                    $showInfo.empty();
                    $pagination.empty();

                    // 데이터 표시
                    const content = data.content;

                    $.each(content, function (index, showInfo) {
                        const showHtml =
                            '<div class="card" style="width: 18rem;">\n' +
                            '<img src="https://via.placeholder.com/300\n" class="card-img-top" alt="축제 이미지">\n' +
                            '<div class="card-body">\n' +
                            '<h5 class="card-title"> ' + showInfo.title + '</h5>\n' +
                            '<p class="card-text">' + showInfo.date + '</p>\n' +
                            '<a href="shows/' + showInfo.id + '" class="btn btn-primary">상세보기</a>\n' +
                            '</div>\n' +
                            '</div>';

                        $showInfo.append(showHtml);
                    });

                    // 페이지네이션 생성
                    const totalPages = data.totalPages;
                    const currentPage = data.pageable.pageNumber + 1;
                    const pagesToShow = 9; // 한 번에 보여줄 페이지 번호 개수

                    const startPage = Math.floor((currentPage - 1) / pagesToShow) * pagesToShow + 1;
                    const endPage = Math.min(startPage + pagesToShow - 1, totalPages);

                    const $prevPageItem = $('<li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&lt;</span></a></li>');
                    $prevPageItem.click(function () {
                        if (!$(this).hasClass('disabled')) {
                            sendAjaxRequest(title, currentPage - 2);
                        }
                    });
                    if (currentPage === 1) {
                        $prevPageItem.addClass('disabled');
                    }
                    $pagination.append($prevPageItem);

                    for (let i = startPage; i <= endPage; i++) {
                        const $pageItem = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');
                        if (i === currentPage) {
                            $pageItem.addClass('active');
                        }
                        $pageItem.click(function () {
                            if (!$(this).hasClass('active')) {
                                sendAjaxRequest(title, i - 1);
                            }
                        });
                        $pagination.append($pageItem);
                    }

                    const $nextPageItem = $('<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&gt;</span></a></li>');
                    $nextPageItem.click(function () {
                        if (!$(this).hasClass('disabled')) {
                            sendAjaxRequest(title, currentPage);
                        }
                    });
                    if (currentPage === totalPages) {
                        $nextPageItem.addClass('disabled');
                    }
                    $pagination.append($nextPageItem);

                },
                error: function (xhr, status, error) {
                    console.error("Ajax 요청 실패:", status, error);
                    // $showInfo.empty();
                    // $pagination.empty();
                }
            });
        }


        // 최신순
        $(".btn-newest").click(function () {
            fetchData("createdAt", "desc", 0);
        });
        // 좋아요순
        $(".btn-popular").click(function () {
            fetchData("like, createdAt", "desc, desc", 0);
        });

        // 기본 로딩 화면
        function fetchData(sort, order, page) {
            $.ajax({
                url: "/show",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                data: {
                    size: 9,
                    page: page,
                    sort: sort,
                    order: order
                },
                success: function (data) {
                    const $showInfo = $('#showList');
                    const $pagination = $('.pagination');
                    // 초기화
                    $showInfo.empty();
                    $pagination.empty();

                    // 데이터 표시
                    const content = data.content;

                    $.each(content, function (index, showInfo) {
                        const showHtml =
                            '<div class="card position-relative" style="width: 18rem;">\n' +
                            `<img src="${showInfo.posterImage ? showInfo.posterImage : 'https://via.placeholder.com/800x500'}" class="card-img-top" alt="축제 이미지" style="height: 300px">\n` +
                            '<div class="card-body">\n' +
                            '<h5 class="card-title"> ' + showInfo.title + '</h5>\n' +
                            '<p class="card-text">' + showInfo.date + '</p>\n' +
                            '<a href="shows/' + showInfo.id + '" class="btn btn-primary">상세보기</a>\n' +
                            '<div class="card-footer d-flex mt-2 justify-content-between">\n' +
                            '<img class="liked" src="' + (showInfo.isLiked === true ? '/images/like.png' : '/images/unlike.png') + '" style="width: 30px; height: 30px" alt="">\n' +
                            '<p class="card-text">' + showInfo.totalLike + '</p>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '</div>';

                        $showInfo.append(showHtml);
                    });

                    // 페이지네이션 생성
                    const totalPages = data.totalPages;
                    const currentPage = data.pageable.pageNumber + 1;
                    const pagesToShow = 10; // 한 번에 보여줄 페이지 번호 개수

                    const startPage = Math.floor((currentPage - 1) / pagesToShow) * pagesToShow + 1;
                    const endPage = Math.min(startPage + pagesToShow - 1, totalPages);

                    const $prevPageItem = $('<li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&lt;</span></a></li>');
                    $prevPageItem.click(function () {
                        if (!$(this).hasClass('disabled')) {
                            fetchData(sort, order, currentPage - 2);
                        }
                    });
                    if (currentPage === 1) {
                        $prevPageItem.addClass('disabled');
                    }
                    $pagination.append($prevPageItem);

                    for (let i = startPage; i <= endPage; i++) {
                        const $pageItem = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');
                        if (i === currentPage) {
                            $pageItem.addClass('active');
                        }
                        $pageItem.click(function () {
                            if (!$(this).hasClass('active')) {
                                fetchData(sort, order, i - 1);
                            }
                        });
                        $pagination.append($pageItem);
                    }

                    const $nextPageItem = $('<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&gt;</span></a></li>');
                    $nextPageItem.click(function () {
                        if (!$(this).hasClass('disabled')) {
                            fetchData(sort, order, currentPage);
                        }
                    });
                    if (currentPage === totalPages) {
                        $nextPageItem.addClass('disabled');
                    }
                    $pagination.append($nextPageItem);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX 요청 실패:", status, error);
                }
            });
        }
    });

</script>

</body>
</html>