<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="content">
<head>
    <title>main</title>
<body>

<!-- Main -->
<main role="main" class="ml-sm-auto px-md-4"
      style="height: auto; min-height: 1500px; margin-bottom: 70px; display: flex; flex-direction: column;">
    <div class="main-container border rounded p-3 mt-2" style="flex: 1;">
        <div class="showInfo"></div>
        <div style="height: 4px; width: 100%" class="bg-dark my-3"></div>
        <div class="border-2 border-dark">
            <form id="commentForm" class="d-flex align-items-center">
                <div class="form-group flex-grow-1">
                     <textarea class="form-control form-control-lg" id="commentContent" rows="3" required
                               placeholder="댓글을 입력하세요..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg align-self-stretch">댓글 작성</button>
            </form>
        </div>
        <div style="height: 2px; width: 100%" class="bg-secondary bg-opacity-25 my-3"></div>
        <div class="comments"></div>
    </div>
</main>

<script>
    $(document).ready(function () {
        var path = window.location.pathname;
        var id = path.split('/').pop();

        // 댓글 추가
        function addComment(comment) {
            const {id, loginUserId, userResponseDto: {userId, nickname}, content} = comment;
            const showButtons = loginUserId === userId;

            const commentHtml = `
            <div class="card mb-3" data-comment-id="${id}">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="update-comment">
                            <p class="card-text comment-user">작성자: ${nickname}</p>
                            <p class="card-text comment-content">${content}</p>
                        </div>
                        <div class="btn-group">
                            ${showButtons ? `
                                <button type="button" class="update btn btn-sm btn-outline-secondary">수정</button>
                                <button type="button" class="delete btn btn-sm btn-outline-secondary">삭제</button>
                            ` : ''}
                        </div>
                    </div>
                </div>
            </div>`;
            $('.comments').prepend(commentHtml);

            // 댓글 개수 업데이트
            // commentCount++;
            // if (commentCount > maxComments) {
            //     $('.comments .card:last-child').remove(); // 가장 오래된 댓글 삭제
            //     commentCount--;
            // }
        }

        // 상세정보 및 댓글 불러오기
        function loadShowInfoComments() {
            $.ajax({
                url: "/show/" + id,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    const {showInfoResponseDto: showInfo, showCommentsResponseDtos: comments} = data;
                    const totalLike = showInfo.totalLike || 0;

                    const showHtml = `
                    <div class="card mb-3" data-comment-id="${comments.id}">
                        <img src="https://via.placeholder.com/800x500" class="card-img-top" alt="축제 이미지">
                        <div class="card-body">
                            <h5 class="card-title">${showInfo.title}</h5>
                            <p class="card-text">날짜: ${showInfo.date}</p>
                            <p class="card-text">위치: ${showInfo.location}</p>
                            <p class="card-text">시작시간: ${showInfo.startTime}</p>
                            <p class="card-text">예매처: ${showInfo.ticketVendor}</p>
                            <p class="card-text"><small class="text-body-secondary">좋아요 : ${totalLike}</small></p>
                        </div>
                    </div>`;
                    $('.showInfo').append(showHtml);

                    comments.forEach(comment => {
                        const {id, loginUserId, userResponseDto: {userId, nickname}, content} = comment;
                        const showButtons = loginUserId === userId;

                        const commentHtml = `
                <div class="card mb-3" data-comment-id="${id}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <p class="card-text comment-user">작성자: ${nickname}</p>
                                <p class="card-text comment-content">${content}</p>
                            </div>
                            <div class="btn-group">
                                ${showButtons ? `
                                    <button type="button" class="update btn btn-sm btn-outline-secondary">수정</button>
                                    <button type="button" class="delete btn btn-sm btn-outline-secondary">삭제</button>
                                ` : ''}
                            </div>
                        </div>
                    </div>
                </div>`;
                        $('.comments').append(commentHtml);
                    });
                },
                error: function () {
                    console.error("Ajax 요청 실패")
                }
            });
        }

        // 댓글 작성
        $("#commentForm").submit(function (event) {
            event.preventDefault();

            var commentContent = $("#commentContent").val();
            var commentData = {content: commentContent};

            const token = localStorage.getItem("jwtToken");
            if (token === null) {
                alert("댓글을 작성하려면 로그인이 필요합니다.");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/show/" + id,
                    contentType: "application/json",
                    data: JSON.stringify(commentData),
                    success: function (response) {
                        $("#commentContent").val('');
                        addComment(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("댓글 전송 중 오류가 발생했습니다.", error);
                    }
                });
            }
        });

        // 댓글 업데이트
        $('.comments').on('click', '.update', function () {
            if ($(this).text() === "저장") {
                var commentId = $(this).closest('.card').data('comment-id');
                const newContent = $(this).closest('.card').find('.updateVal').val()
                update(commentId, newContent);
            } else {
                var inputElement = $('<input>').attr({
                    type: 'text',
                    class: 'form-control w-100 mt-1 updateVal',
                    placeholder: '수정할 내용을 입력해주세요',
                });
                var commentContentElement = $(this).closest('.card').find('.card-body');

                commentContentElement.append(inputElement)

                $(this).text("저장")
            }
        });

        function update(commentId, newContent) {
            $.ajax({
                url: "/comments/" + commentId,
                type: "PATCH",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({content: newContent}),
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    alert("댓글 수정에 실패했습니다.");
                }
            });
        }

        // 댓글 삭제
        $('.comments').on('click', '.delete', function () {
            var commentId = $(this).closest('.card').data('comment-id');
            $.ajax({
                url: "/comments/" + commentId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    alert("댓글 삭제에 실패했습니다.");
                }
            });
        });

        // 초기 댓글 불러오기
        loadShowInfoComments();
    });
</script>
</body>
</html>